<link rel="import" href="../font-roboto/roboto.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="ra-form-layout.html">

<polymer-element name="ra-player-form" attributes="player">
    <template id="playerForm">
    <style shim-shadowdom>
        body {
            font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
            margin: 0;
            padding: 24px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-touch-callout: none;
        }

        /*note the class ra-group-box is assign to the containing div for each field group*/

        ra-form-layout /deep/ .ra-group-box {
            border-style:dotted;
            border-width:1px;
            border-color: green;
            margin:5px;
            padding:5px 20px;
            width: 50%;
        }

        /*note the class ra-field-box is assign to the containing div for each field*/

        ra-form-layout /deep/ .ra-field-box {
            border-style:dotted;
            border-width:1px;
            margin:5px;
            padding:5px 20px;
            width: 200px;
        }

        /*note the element assigns an id equal to the fieldAttribute value to the containing div for each
        field so each field can be styled individually.
        */

        ra-form-layout /deep/ #slider {
            background-color: grey;
            width:400px;
        }

        html /deep/ paper-dropdown-menu {
            box-sizing: border-box;
            width: 170px;
        }

        html /deep/ core-menu {
            box-sizing: border-box;
            width: 170px;
        }

        paper-item {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        html /deep/ core-collapse {
            border: 1px solid #ccc;
            padding: 8px;
        }

        html /deep/ core-overlay {
            border: 1px solid #ccc;
            padding: 8px;
            background: #fff;
        }

        .constrained-height {
            height: 150px;
        }

        .colored {
            color: #0f9d58;
        }

        .dropdown.colored::shadow #ripple,
        .dropdown.colored::shadow #background {
            border: 1px solid #0f9d58;
            background-color: #b7e1cd;
        }

    </style>
        <div id=contents>
            <ra-form-layout id='playerFormLayout' formItems="{{formItems}}" formValues="{{formValues}}" loadexternal=true>
            </ra-form-layout>
        </div>
        <paper-button raised on-click={{getValues}}>Get Results</paper-button>
        <paper-button raised on-click={{disableForm}}>Disable</paper-button>
        <paper-button raised on-click={{enableForm}}>Enable</paper-button>
        <paper-button raised on-click={{changeValue}}>Change a value</paper-button>
        <paper-button raised on-click={{displayFormItems}}>Display Form Items array</paper-button>
        <pre>
            <div id='playerFormResults'></div>
        </pre>
    </template>


    <script>
        Polymer({
        getValues: function() {
            this.$.playerFormResults.innerHTML = JSON.stringify(this.formValues,null,5);
        },
        enableForm:  function() {
            this.$.playerFormLayout.inputState('enable');
        },
        disableForm: function() {
            this.$.playerFormLayout.inputState('disable');
        },
        refreshLabels: function() {
            this.$.playerFormLayout.refreshLabels();
        },
        changeValue: function() {
            this.$.playerFormLayout.formValues.firstName = "George";
            //
            // note you must call the refreshFormItems method to propagate any changed values back to the form.
            // This method will also refresh any form labels
            //
            this.$.playerFormLayout.refreshFormItems();
        },
        displayFormItems: function() {
            this.$.playerFormResults.innerHTML = JSON.stringify(this.$.playerFormLayout.formItems,null,5);
        },
        ready: function () {
            //debugger;
        }
        });
    </script>
</polymer-element>
