<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>basic-model</title>
    <script type="text/javascript" src="../webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="../polymer/polymer.html">
    <link rel="import" href="../core-elements/core-elements.html">
    <link rel="import" href="../paper-elements/paper-elements.html">
    <link rel="import" href="../juicy-ace-editor/src/juicy-ace-editor.html">
    <style>

        body {
            font-family: sans-serif;
            margin: 0;
            overflow: hidden;
        }

    </style>
</head>
<body>

<polymer-element name="greeting-tag" attributes="qq salutations">
    <!-- outermost template defines the element's shadow DOM -->
    <template>
        <ul>
            <template repeat="{{s in salutations}}">
                <li>{{s.what}} {{qq[0].tebe }}: <input type="text" value="{{s.who}}"></li>
                <template bind="{{qq}}">
                    <li on-click={{debug}}>qq: {{mine}} {{tebe}}</li>
                </template>
            </template>


        </ul>
    </template>
    <juicy-ace-editor theme="ace/theme/chrome" mode="ace/mode/html" fontsize="16px" readonly="" softtabs="true">
        sdhfgkjhdfjklhsdklhskld
        kjhdjklslkjhfgkljsdf
        kdsfjhklsjghkljgkfg
        dksfjhskldjhklsdjghkl
        sdlksfjls;kdjgl;kdjfg
    </juicy-ace-editor>
    <script>
        Polymer('greeting-tag', {
            debug: function (e, t, a){
                console.log("debug: ", e , t, a);
                return e;
            },
            ready: function() {
                // populate the element’s data model
                // (the salutations array)
                this.salutations = [
                    {what: 'Hello', who: 'World'},
                    {what: 'GoodBye', who: 'DOM APIs'},
                    {what: 'Hello', who: 'Declarative'},
                    {what: 'GoodBye', who: 'Imperative'}
                ];
                this.qq = [{tebe: "bebe", mine: "nene"}, {tebe: "beee", mine: "neee"}];
            }
        });
    </script>
</polymer-element>

<greeting-tag></greeting-tag>

</body>
</html>
