<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>basic-model</title>
    <script type="text/javascript" src="../webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="../polymer/polymer.html">
    <link rel="import" href="../juicy-ace-editor/src/juicy-ace-editor.html">
    <style>

        body {
            font-family: sans-serif;
            margin: 0;
            overflow: hidden;
        }
        juicy-ace-editor {
            margin: 15px 15px;
            width: 45%;
            height: 13em;
        }
    </style>
</head>
<body>

    <juicy-ace-editor  theme="ace/theme/chrome" mode="ace/mode/html" fontsize="16px" readonly="" softtabs="true">
        sdhfgkjhdfjklhsdklhskld
        kjhdjklslkjhfgkljsdf
        kdsfjhklsjghkljgkfg
        dksfjhskldjhklsdjghkl
        sdlksfjls;kdjgl;kdjfg
    </juicy-ace-editor>


</body>
</html>
